/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.6rem;
}

/* switch toggle icon */